@using Microsoft.AspNetCore.Identity
@using MrIgor.Core.Models
@inject SignInManager<AspNetUser> SignInManager
@inject UserManager<AspNetUser> UserManager

<div class="d-flex flex-column flex-lg-row w-100 align-items-md-center align-items-right justify-content-between">
@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav ms-auto ps-lg-5 ps-0">
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
    </ul>
    <div class="d-flex flex-column flex-lg-row gap-2 align-items-center ms-lg-auto mt-3 mt-lg-0">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link btn btn-outline-secondary">Hello, @User.Identity?.Name!</a>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
}
else
{
    <ul class="navbar-nav ms-auto ps-lg-5 ps-0">
        <li class="nav-item active">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
    </ul>

    <div class="d-flex flex-column flex-lg-row gap-2 align-items-center ms-lg-auto mt-3 mt-lg-0">
        <a class="btn btn-outline-secondary btn" asp-area="Identity" asp-page="/Account/Login">Client Portal</a>
        <a class="btn btn-primary btn" asp-area="Identity" asp-page="/Account/Register">Sign Up Free</a>
    </div>
}
</div>
