
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Overview";
    @* ViewData["Title"] = "Dashboard Page"; *@
}

    <h1>Dashboard Index</h1>
    <p>Some stats and cards here...</p>
