html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #f6f6f8;
    color: #0d121b;
    margin-bottom: 60px;
}
.bg-primary-custom {
    background-color: #135bec;
}
.text-primary-custom {
    color: #135bec;
}
.btn-white-custom {
    background-color: white;
    color: #18191aff;
    font-weight: 600;
    border: 1px solid #35363686;
}
.btn-white-custom:hover {
    background-color: #f0f0f0;
    color: #135bec;
    border-color: #135bec;
}
.nav.navbar {
    border-bottom: 1px solid #e0e0e0;
}
@@media (max-width: 991.98px) {
.navbar-nav {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    }
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}